services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.8
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data
      - zookeeper-logs:/var/lib/zookeeper/log
    networks:
      - kafka-network
    restart: unless-stopped

  kafka:
    image: confluentinc/cp-kafka:7.5.8
    container_name: kafka-broker
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 999
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
      KAFKA_DELETE_TOPIC_ENABLE: true
      KAFKA_NUM_PARTITIONS: 2
      KAFKA_LOG_RETENTION_HOURS: 24
      KAFKA_HEAP_OPTS: -Xmx512m -Xms256m
    volumes:
      - kafka-data:/var/lib/kafka/data
    networks:
      - kafka-network
    restart: unless-stopped

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    networks:
      - kafka-network
    depends_on:
      - kafka
    restart: unless-stopped

  # schema-registry:
  #   image: confluentinc/cp-schema-registry:7.5.8
  #   container_name: schema-registry
  #   depends_on:
  #     - kafka
  #   ports:
  #     - "8081:8081"
  #   environment:
  #     SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: kafka:9092
  #     SCHEMA_REGISTRY_HOST_NAME: schema-registry
  #     SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
  #   networks:
  #     - kafka-network
  #   restart: unless-stopped

  # kafka-rest-proxy:
  #   image: confluentinc/cp-kafka-rest:7.5.8
  #   container_name: kafka-rest-proxy
  #   depends_on:
  #     - kafka
  #     - schema-registry
  #   ports:
  #     - "8082:8082"
  #   environment:
  #     KAFKA_REST_BOOTSTRAP_SERVERS: kafka:9092
  #     KAFKA_REST_LISTENERS: http://0.0.0.0:8082
  #     KAFKA_REST_SCHEMA_REGISTRY_URL: http://schema-registry:8081
  #     KAFKA_REST_HOST_NAME: kafka-rest-proxy
  #   networks:
  #     - kafka-network
  #   restart: unless-stopped

  # ksqldb-server:
  #   image: confluentinc/cp-ksqldb-server:7.5.8
  #   container_name: ksqldb-server
  #   depends_on:
  #     - kafka
  #   ports:
  #     - "8088:8088"
  #   environment:
  #     KSQL_BOOTSTRAP_SERVERS: kafka:9092
  #     KSQL_LISTENERS: http://0.0.0.0:8088
  #     KSQL_KSQL_SERVICE_ID: ksqldb_service
  #     KSQL_KSQL_SCHEMA_REGISTRY_URL: http://schema-registry:8081
  #   networks:
  #     - kafka-network
  #   restart: unless-stopped

volumes:
  zookeeper-data:
  zookeeper-logs:
  kafka-data:

networks:
  kafka-network:
    # driver: bridge
    external: true